
<%- include("partials/header") -%>

<div class="container">
    <h1 class="space">Contact</h1>
    <p> Newsroom Contacts<br>
        For questions or concerns about news articles or photos call 513-420-0097<br>
        Fax : 987-249-2020<br>
        Email general news submissions : <a href="/about">akhilcruise35gmail.com</a><br>
        Email News tips or general information about  County: <a href="/about">akhildharavath35gmail.com</a><br>
        Newsroom staff members: Find a reporter or editor<br>
        Winter closing submission: Add a school or business to the winter closing list<br>
         </p>
</div>
<br>
<br>

<%- include("partials/footer") -%>