<%- include("partials/header") -%>

<h1 class="space"> <%= title  %> </h1>

<hr>

<div class="container-fluid">
    <p class="newlines"> <%= content %> </p>
</div>


<%- include("partials/footer") -%>